*{
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    display: grid;
    overflow: hidden;
    min-height: 100vh;
    grid-template-rows:  1fr auto;
    /* padding-top: 50px; */
}
/*main,*/.footer,.header,.preview_body{
    max-width: 1200px;
    margin: 0 auto;
}
.preview{
    overflow: hidden;
    height: 100vh;
    background:no-repeat url("../img/preview.jfif");
    background-size: cover;
}
.header{
    margin-bottom: 20px;
}

